.navbar-section {
  background-color: #3367d6;
  display: flex;
  padding: 20px;
}

.nav-logo {
  margin-left: 25px;
  height: 40px;
}

.navbar-search-section {
  background-color: #2850a7;
  border: 1px solid #64748b;
  border-radius: 2px;
  display: flex;
  margin-left: auto;
  margin-right: 200px;
  width: 660px;
  height: 40px;
}
input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border-width: 0px;
  border-left: 1px solid #64748b;
  padding-left: 20px;
  padding: 10px;
  height: 40px;
  color: #ececec;
}

.search-logo {
  margin: 10px;
}
